.grid-container {
  background-color: rgb(230, 227, 239);
  display: grid;
  width: auto;
  margin-left: 10px;
  margin-right: 10px;
  gap: 10px;
}


.grid-item {
  width: auto;
  background-color: rgb(230, 227, 239);
  padding: 5px;
  text-align: center;
}



@media screen and (max-width: 768px) {
  .grid-container {
    grid-template-columns: repeat(2, 1fr);
  }
}


@media screen and (max-width: 480px) {
  .grid-container {
    grid-template-columns: 1fr; 
  }
}

